@import url('./fonts/Roboto/style.css');
@import url('./fonts/OpenSans/style.css');
@import url('./fonts/NotoSansJP/styles.css');
/*  */
* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #666666;
}

.Roboto {
    font-family: 'Roboto', sans-serif; 
}
.OpenSans {
    font-family: 'OpenSas', sans-serif;
}
.NotoSansJP {
    font-family: 'NotoSans', sans-serif; 
}

code p {
    color: #39e234;
    background-color: #333333;
    height: max-content;
    width: max-content;
    border: 5px solid #222222;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

